* {
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 14px;
}

body {
    margin: 0;
}

/* css on header elements *//* css on header elements *//* css on header elements *//* css on header elements *//* css on header elements */

.category-bar {
    /* text-align: center; */
    height: 40px;
    line-height: 40px;
}

.category {
    padding: 0 10px;
    font-size: 13px;
    text-decoration: none;
    color: #3c3c3c;
}

.category:hover {
    border-bottom: 2px solid orange;
}

#category-title {
    font-size: 16px;
    font-weight: bold;
    border-style: none;
    padding: 0 10px;
    text-decoration: none;
    color: #3c3c3c;
}

.category-bar-container {
    overflow: hidden;
    min-width: 700px;
    border-bottom: 1px solid #DDD;
}

.back-to-results-container {
    margin-top: 5px;
    padding: 0 10px;
}

.back-to-results {
    text-decoration: none;
    color: #626262;
}

.back-to-results:hover {
    text-decoration: underline;
}

.back-to-results span {
    font-size: 12px;
}

/* css on main body elements *//* css on main body elements *//* css on main body elements *//* css on main body elements *//* css on main body elements */

.first-section {
    height: 550px;
    margin-top: 10px;
    min-width: 1060px;
    overflow-x: hidden;
}

.first-section-container {
    height: 100%;
    padding: 0 10px;
}

.prod-images {
    height: 100%;
    width: calc(0.35 * (100% - 20px));
    /* background-color: cadetblue; */
    float: left;
}

.prod-info {
    float: left;
    margin: 0 10px;
    height: 100%;
    width: calc(0.45 * (100% - 20px));
    overflow-y: scroll;
    overflow-x: hidden;
}

.prod-info::-webkit-scrollbar {
    display: none;
  }

.prod-buy {
    float: left;
    height: 100%;
    width: calc(0.2 * (100% - 20px));
}

/* css on main body's left part (prod-images ke inner elements pe) */
.small-images-container {
    width: 40px;
    height: 100%;
    float: left;
    margin-right: 5px;
    /* background-color: antiquewhite; */
}

.big-image-container {
    float: left;
    height: 100%;
    width: calc(100% - 45px);
    padding: 10px;
    /* background-color: blueviolet; */
}

.small-images-container ul {
    list-style: none;
    padding: 0;
}

.small-image {
    border: 1px solid #bababa;
    border-radius: 2px;
    margin-bottom: 5px;
}

.small-image:hover {
    border-color: rgb(255, 166, 0);
    box-shadow: 0 0 3px 2px rgb(228 121 17 / 50%);
}

#big-image-top-div {
    width: 100%;
    height: 100px;
}

.big-image {
    width: 100%;
}

.big-image-top-div {
    width: 100%;
    height: 100px;
}

#p_share {
    width: 33.6px;
    height: 33.6px;
    float: right;
    background-image: url(../images/products/product%20page/share-std.svg);
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid #bababa;
    border-radius: 30px;
}

/* css on main body -> section-1 -> middle part */
.prod-name {
    font-size: 30px;
    margin: 0px;
}

.brand-name {
    color: #006969;
    margin: 0;
}

.rating-row {
    width: 100%;
    height: 20px;
    padding: 0 5px;
    border-bottom: 1px solid #DDD;
}

    .rating-stars {
        width: 84px;
        height: 100%;
        background-image: url(../images/ratings/ouR9NRElwmzAIev.png);
        background-position-y: -20px;
        float: left;
    }

    .rating-dropdown {
        float: left;
        width: 10px;
        height: 100%;
        background-image: url(../images/nav-icons/McBZv0ZvnbehkIx.png);
        background-position: -87px 3px;
    }

    .spacer {
        float: left;
        height: 100%;
    }

    .rating-count {
        float: left;
        height: 100%;
        color: #006969;
    }

.pricing-row {
    margin-top: 10px;
    width: 100%;
    height: 35px;
    font-weight: bold;
}

    .discount-percent {
        width: 50px;
        height: 100%;
        float: left;
        color: #bf1d1d;
        line-height: 35px;
    }

    .price {
        float: left;
        height: 100%;
        padding: 0 10px;
    }

.price-cutting-row {
    color: #808080;
    margin-bottom: 5px;
}

    .price-cutting-row span {
        font-size: 12px;
    }

.fulfilled {
    margin: 0;
    height: 18px;
}

#one {
    background-color: #3c3c3c;
    background-image: url(../images/nav-icons/NzPf$fHil8CgZmI.png);
    background-position: -115px 1px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 85px;
    height: 100%;
    text-align: center;
    color: #fff;
}

.emi {
    margin: 5px 0;
}

.offers-row {
    border-top: 1px solid #DDD;
    height: 40px;
    padding: 8px 0;
    line-height: 23px;
}

    .deal-img {
        float: left;
        height: 24px;
        width: 24px;
        overflow: hidden;
    }

    .deal-img img {
        width: 100%;
        margin-top: -25px;
    }

    .offers {
        float: left;
        height: 100%;
        padding: 0 15px;
    }

    .offers span {
        font-weight: bold;
        font-size: 15px;
    }

.offer-names-row {
    height: 146px;
    padding: 15px 0;
    border-bottom: 1px solid #DDD;
    line-height: 20px;
}

    .offer-names-block {
        height: 110px;
        width: 150px;
        float: left;
        margin: 0 0 0 3px;
        padding: 5px;
        box-shadow: 0 0 1px 1px rgb(205 205 205 / 50%);
        border-radius: 5px;
        border: 1px solid #d1d1d1;
    }

    .offer-name-heading {
        margin: 0;
        font-size: 13px;
        font-weight: bold;
    }

    .offer-desc {
        margin: 2px 0 0 0;
    }

    .offer-link {
        text-decoration: none;
        color: #199e9e; 
        font-size: 13px;
    }

    .offer-link:hover {
        text-decoration: underline;
        color: #c28310;
    }

.product-specification {
    height: 120px;
    padding: 10px;
    border-bottom: 1px solid #DDD;
}

    .left {
        float: left;
        list-style: none;
        padding: 0;
        font-weight: bold;
        line-height: 20px;
        margin: 0;
    }

    .right {
        float: left;
        list-style: none;
        line-height: 20px;
        margin: 0;
    }

.about-the-item {
    padding: 0 10px 15px 10px;
    border-bottom: 1px solid #DDD;
}
    
    .about-heading {
        font-size: 15px;
        font-weight: bold;
    }

    .about-item-list {
        padding: 0;
        margin: 0 0 0 18px;
    }

/* css on main body -> section-1 -> right part */

.exchange-box {
    height: 210px;
    padding: 0 0 10px 10px;
    border-bottom: 1px solid #DDD;
}

    .with-exchange {
        height: 60%;
        border: 1px solid #DDD;
        border-radius: 8px 8px 0 0;
        padding: 10px 0 0 10px;
    }

    .with-exchange a {
        text-decoration: none;
        color: darkcyan;
    }

    .with-exchange a:hover {
        text-decoration: underline;
        color: rgb(226, 148, 2);
    }

    .without-exchange {
        background-color: #e8e8e8;
        height: 40%;
        border: 1px solid #DDD;
        border-radius: 0 0 8px 8px;
        padding: 10px 0 0 10px;
    }

    .exchange-heading {
        font-weight: bold;
        margin: 0 0 5px 0;
    }

    .exchange-discount {
        font-weight: bold;
        color: #cb0000;
        margin: 0 0 14px 0;
    }

    .exchange-item {
        height: 25px;
        width: 180px;
        line-height: 25px;
        text-align: center;
        border: 1px solid #cdcdcd;
        border-radius: 4px;
        box-shadow: 0 0 3px 2px rgb(216 212 208 / 50%);
        margin-bottom: 10px;
    }

    .exchange-item:hover {
        background-color: aliceblue;
    }

    .cp-no-exchange {
        margin-right: 10px;
        color: #cb0000;
    }

    .mrp-no-exchange {
        text-decoration: line-through;
    }

.wishlist-button {
    margin: 10px 0 10px 10px;
    padding-left: 5px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #a0a0a0;
    border-radius: 4px;
    box-shadow: 0 0 3px 2px rgb(216 212 208 / 50%);
}

.wishlist-button:hover {
    background-color: aliceblue;
}

/* Baad ka hissa */
.product-specs{
  float: left;
  width: 100%;
}

.product-table{
  width: 100%;
  margin-top: 20px;
  border-top: 1px solid #d5d9d9;
  padding-top: 20px;
  border-collapse: collapse;
}

.product-table th,td{
  width: 20%;
}

/*ROW ONE*/

.row-one img{
  width: auto;
  max-width: 100%;
  max-height: 100%;
}

.empty{
  padding: 14px;
}

.row-one th{
  padding: 14px;
  padding-bottom: 0px;
  font-size: 14px!important;
  text-align: left;
  font-weight: normal;
  line-height: 20px!important;
  font-weight: 400px;
}
 
.row-one .name{
  margin-top: 20px;
  margin-bottom: 20px;
}

.row-one .span{
  font-weight: bold;
}

.row-one th a{
  text-decoration: none;
  color: #007185;
}

/*ROW TWO*/

.row-two td{
  color: #B12704!important;
  font-size: 24px!important;
  line-height: 32px!important;
  font-weight: 700!important;
  padding: 3px 14px;
}

/*ROW THREE*/

.row-three td{
  padding: 3px 14px;
  font-size: 14px!important;
  line-height: 20px;
}

.row-three div{
  float: left;
  padding-right: 3px;
}

.row-three a{
  text-decoration: none;
  color: #007185;
}


/*ROW FOUR*/

.row-four td{
  padding: 14px 30px;
}

.row-four button{
  margin-bottom: 14px;
  width: 100%!important;
  background-color: #FFD814;
  border: 1px solid #FCD200;
  cursor: pointer;
  padding: 1px 6px;
  height: 30px;
  border-radius: 7px;
  box-shadow: 0 2px 5px 0 rgb(213 217 217 / 50%);
}

.row-four button:hover{
  background: #F7CA00;
  border-color: #F2C200;
}
 
/*ATTRIBUTE HEADINGS*/
.attribute-heading{
  padding: 14px;
  background-color: #F8F8F8;
  border-right: 5px solid #fff;
  border-collapse: collapse;
  border-top: 1px solid #d5d9d9;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  
}

/*BASE ITEM COLUMN*/
.base-item-column{
  padding: 14px;
  background-color: #FCF9F8;
  font-size: 14px;
  line-height: 20px;
}

/*ROW FIVE*/

.row-five div{
  float: left;
}

.row-five td{
  border-top: 1px solid #d5d9d9;
  padding: 14px;
  font-size: 14px;
  line-height: 20px;
}

.row-five .attribute-image{
  float: left;
  width: 9%;
  margin-right: 5px;
}

.attribute-image img{
  width: auto;
  max-height: 100%;
  max-width: 100%;
}

/*ROW SIX*/

.row-six div{
  float: left;
}

.row-six td{
  border-top: 1px solid #d5d9d9;
  padding: 14px;
  font-size: 14px;
  line-height: 20px;
}

.row-six .attribute-image{
  float: left;
  width: 9%;
  margin-right: 5px;
}

.attribute-image img{
  width: auto;
  max-height: 100%;
  max-width: 100%;
}


/*ROW SEVEN*/

.row-seven div{
  float: left;
}

.row-seven td{
  border-top: 1px solid #d5d9d9;
  padding: 14px;
  font-size: 14px;
  line-height: 20px;
}

.row-seven .attribute-image{
  float: left;
  width: 9%;
  margin-right: 5px;
}

.attribute-image img{
  width: auto;
  max-height: 100%;
  max-width: 100%;
}

/*ROW EIGHT*/

.row-eight div{
  text-align: left;
}

.row-eight td{
  border-top: 1px solid #d5d9d9;
  padding: 14px;
  font-size: 14px;
  line-height: 20px;
}

.attribute-heading .desc{
  color: #565959!important;
  font-size: 12px!important;
  line-height: 16px!important;
  text-align: left;
}


/*ROW NINE*/

.row-nine div{
  float: left;
}

.row-nine td{
  border-top: 1px solid #d5d9d9;
  padding: 14px;
  font-size: 14px;
  line-height: 20px;
}

.row-nine .attribute-image{
  float: left;
  width: 9%;
  margin-right: 5px;
}

.attribute-image img{
  width: auto;
  max-height: 100%;
  max-width: 100%;
}

/*ROW TEN*/

.row-ten div{
  float: left;
}

.row-ten td{
  border-top: 1px solid #d5d9d9;
  padding: 14px;
  font-size: 14px;
  line-height: 20px;
}

.row-ten .attribute-image{
  float: left;
  width: 9%;
  margin-right: 5px;
}

.attribute-image img{
  width: auto;
  max-height: 100%;
  max-width: 100%;
}

/*ROW ELEVEN*/

.row-eleven td{
  border-top: 1px solid #d5d9d9;
  padding: 14px;
  font-size: 14px;
  line-height: 20px;
}

.row-eleven th{
  text-align: left;
}

/*ROW TWELVE*/

.row-twelve div{
  float: left;
}

.row-twelve td{
  border-top: 1px solid #d5d9d9;
  padding: 14px;
  font-size: 14px;
  line-height: 20px;
}

.row-twelve .attribute-image{
  float: left;
  width: 9%;
  margin-right: 5px;
}

.attribute-image img{
  width: auto;
  max-height: 100%;
  max-width: 100%;
}

/*ROW THIRTEEN*/

.row-thirteen div{
  float: left;
}

.row-thirteen td{
  border-top: 1px solid #d5d9d9;
  padding: 14px;
  font-size: 14px;
  line-height: 20px;
}

.row-thirteen .attribute-image{
  float: left;
  width: 9%;
  margin-right: 5px;
}

.attribute-image img{
  width: auto;
  max-height: 100%;
  max-width: 100%;
}

/*ROW FOURTEEN*/

.row-fourteen div{
  text-align: left;
}

.row-fourteen td{
  border-top: 1px solid #d5d9d9;
  padding: 14px;
  font-size: 14px;
  line-height: 20px;
}

.attribute-heading .desc{
  color: #565959!important;
  font-size: 12px!important;
  line-height: 16px!important;
  text-align: left;
}

/*ROW FIFTEEN*/

.row-fifteen th{
  vertical-align: initial;
  border-bottom: 1px solid #d5d9d9;
}

.row-fifteen div{
  float: left;
}

.row-fifteen td{
  border-top: 1px solid #d5d9d9;
  padding: 14px;
  font-size: 14px;
  line-height: 20px;
  border-bottom: 1px solid #d5d9d9;
}

.row-fifteen .attribute-image{
  float: left;
  width: 9%;
  margin-right: 5px;
}

.attribute-image img{
  width: auto;
  max-height: 100%;
  max-width: 100%;
}
