* {
    box-sizing: border-box;
    font-family: 'PT Sans' , sans-serif;
}

body {
    margin: 0;
    background-color: lightgrey;
}

.section {
    position: relative;
    z-index: -1;
    height: 300px;
}

header a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
}

.links-below-offers {
    text-decoration: none;
    color: #187fa3;
    font-size: 13px;
    display: block;
    font-weight: 600;
    position: absolute;
    bottom: 10px;
}

.links-below-offers:hover{
    text-decoration: underline;
    color: #c76f05;
}

#navbar {
    min-width: 720px;
    height: 99px;
    background-color: #131921;
}

#navbar-upper {
    height: 60px;
    line-height: 2;
}

/* nav-upper ke nav-left ke divs */

#navbar-upper .nav-left {
    height: 60px;
    width: 303.66px;
    float: left;
}

#nav-logo {
    margin-left: 11px;
    padding-top: 4px;
    height: 56px;
    width: 42.4%;
    float: left;
}

#nav-logo a {
    width: 100%;
}

.nav-logo-link-left {
    background-image: url(../images/nav-icons/nav-sprite-global-1x-hm-dsk-reorg._CB405936311_.png);
    background-position: -1059px -940px;
    width: 78%;
    height: 50px;
    float: left;
}

.nav-logo-link-right {
    width: 14%;
    height: 50px;
    float: left;
    padding-top: 7px;
}

#nav-locator {
    height: 60px;
    width: 53.3%;
    float: left;
    margin-left: 2px;
}

.nav-locator-left {
    display: inline-block;
    height: 56px;
    width: 20%;
    background-image: url(../images/nav-icons/nav-sprite-global-1x-hm-dsk-reorg._CB405936311_.png);
    background-position: -1108px -1711px;
}

.nav-locator-right {
    display: inline-block;
    height: 56px;
    width: 77%;
}

.upper-line {
    width: 100%;
    height: 20px;
    display: inline-block;
    font-size: 12px;
    font-family: 'PT Sans', sans-serif;
    color: #d0c8c8;
}

.lower-line {
    position: relative;
    bottom: 17px;
    font-size: 13px;
    color: #fff;
    font-family: 'PT Sans' , sans-serif;
    font-weight: bold;
    word-spacing: 2px;
}

/* nav-upper ke nav-fill ke divs */

#navbar-upper .nav-fill {
    height: 60px;
    width: calc(100% - 699.43px);
    float: left;
}

#nav-search-bar-form {
    height: 40px;
}

#navbar-upper .nav-fill .nav-left {
    width: 7.1%;
    height: 38px;
    background-color: #edeef0;
    border-radius: 2px 0 0 2px;
}

#navbar-upper .nav-fill .nav-fill {
    width: 80%;
    height: 40px;
}

.nav-search-field {
    height: 40px;
}

.nav-input {
    border-style: none;
    width: 100%;
    height: 38px;
    padding: 7px 10px 10px 0;
    font-size: 15px;

}

#nav-search {
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px 4px 10px 3px;
    height: 60px;
}

#navbar-upper .nav-fill .nav-right {
    width: 6.135%;
    height: 40px;
}

#nav-search-submit-button {
    width: 40px;
    height: 38px;
    background-color: #ffc754;
    border: 0;
    background-image: url(../images/nav-icons/nav-sprite-global-1x-hm-dsk-reorg._CB405936311_.png);
    background-position: -2100px -732px;
    border-radius: 0 2px 2px 0px;
}

/* nav-upper ke nav-right ke divs */

#navbar-upper .nav-right {
    height: 60px;
    width: 395.78px;
    float: left;
}

#nav-tools {
    margin-top: 2px;
    padding-top: 3px;
    height: 58px;
}

#nav-tools-lang {
    margin-left: 1px;
    padding: 0 9px 5px;
    height: 50px;
    width: 18.31%;
}

#nav-tools-sign-in {
    width: 32.82%;
    height: 50px;
    margin-left: 2px;
    padding: 0 9px 10px;
}

#nav-tools-orders {
    width: 19.2%;
    height: 50px;
    margin-left: 2px;
    padding: 0 9px 10px;
}

#nav-tools-cart {
    width: 20.96%;
    height: 50px;
    margin-left: 2px;
    margin-right: 11px;
    padding: 0 9px 10px;
    background-image: url(../images/nav-icons/nav-sprite-global-1x-hm-dsk-reorg._CB405936311_.png);
    background-position: -1024px -1229px;
}

/* navbar-lower ke divs */

#navbar-lower {
    padding-left: 11px;
    height: 39px;
    background-color: #232f3e;
}

/* nav-lower ke nav-left ke divs */

#navbar-lower .nav-left {
    height: 39px;
    width: 4.312%;
    float: left;
    background-image: url(../images/nav-icons/nav-sprite-global-1x-hm-dsk-reorg._CB405936311_.png);
    background-position: -1216px -1145px;
}

#nav-hamburger-menu {
    height: 39px;
    width: 100%;
    padding: 8px 9px;
    text-align: right;
}


/* nav-lower ke nav-fill ke divs */

#navbar-lower .nav-fill {
    height: 39px;
    width: 63.586%;
    float: left;
}

#nav-shop-container {
    height: 39px;
    width: 100%;
}

.nav-a {
    height: 28px;
    margin: 5px 0 6px 0;
    padding: 8px 9px;
    float: left;
    line-height: 0.8;
}

#navbar-lower .nav-right {
    height: 39px;
    width: 32.1%;
    float: left;
}

#navbar-lower .nav-right img {
    position: absolute;
    right: 0px;
    top: 60px;
}

/* Main body ki CSS */
/* Main body ki CSS */
/* For similar looking first two offers rows */

.first {
    height: 400px;
    margin: 0 20px 20px;
}

.first-inner {
    display: block;
    height: 400px;
    width: calc((100% - 70px)/4);
    background-color: #fff;
    margin-right: 20px;
    float: left;
    padding: 20px;
    font-weight: bold;
    font-size: 20px;
    position: relative;
}


.first-inner-offer {
    width: 50%;
    height: auto;
    font-size: 13px;
    font-weight: normal;
    /* margin-top: 10px; */
    /* margin-right: 10px; */
    padding: 10px;
    display: block;
    float: left;
}

.first-inner-offer-img {
    max-width: -webkit-fill-available;
    width: auto;
    max-height: 200px;
    max-width: 100%;
}

.first-inner-clearance {
    /* max-width: -webkit-fill-available; */
    width: 100%;
    height: auto;
    /* margin-bottom: 30px; */
}

.first-inner-span {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.btn {
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    color: #000;
    font-size: 13px;
    font-weight: normal;
    background: #ffd900;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    text-align: center;
    display: block;
    width: 50%;
  }
  
.btn:hover {
    background: #ebbc00;
    text-decoration: none;
}

.first-inner-part {
    display: block;
    height: 250px;
    width: 100%;
    background-color: #fff;
    margin-right: 20px;
    float: left;
    padding: 20px;
    font-weight: bold;
    font-size: 20px;
}

.first-inner-rightmost {
    width: calc((100% - 70px)/4);
    float: left;
}

/* Third row (Big Banner) */
.big-banner {
    text-align: center;
}

/* Fourth row (Today's Deals) */
.second {
    height: 400px;
    /* margin: 20px 0 0; */
    padding: 20px;
    padding-top: 10px;
    background-color: #ffffff;
}

.second-inner {
    display: block;
    float: left;
    height: 300px;
    width: calc((100% - 80px)/5);
    /* background-color: #f9f8f8; */
    margin-right: 20px;
    padding: 10px;
    max-height: 300px;
    text-align: center;
    position: relative;
    border: 1px solid #eaeaea;
}

.second-inner-product-img {
    
width: auto;
    
max-height: 200px;
    
max-width: 100%;
}

.below-second-inner-product-img {
    position: absolute;
    bottom: 5px;
    font-weight: bold;
    font-size: 13px;
    text-align: center;
}

.deal-scheme {
    color: crimson;
}

.deal-scheme-btn {
    color: #fff;
    background-color: crimson;
    padding: 0 5px;
    border-radius: 5px;
    font-weight: normal;
}

/* Before footer css for Sign in button */
.bottom-sign-in {
    background-color: #fff;
    padding: 10px;
    margin: 0 0;
    font-size: 13px;
    text-align: center;
}

.bottom-btn {
    width: 8%;
    margin: 0 auto;
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    color: #000;
    font-size: 13px;
    font-weight: normal;
    background: #ffd900;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    text-align: center;
    display: block;
}

.body-hr {
    border-style: none;
    border-top: 1px solid #e5e5e5;
}

.foot-hr {
    border-style: none;
    border-top: 1px solid #505050;
}

/* Bottom ki CSS (for footer) */

.foot-container {
    background-color: #1d2631;
}

.back-to-top {
    text-align: center;
    padding: 15px 0;
    background-color: #304052;
}

.back-to-top:hover {
    background-color: #4c5a6b;
}

.foot-container a {
    font-size: 14px;
    text-decoration: none;
    color: #fff;
}

.company-rel-links ul {
    margin: 0;
    margin-right: 100px;
    padding: 0;
    list-style: none;
    float: left;
}

.company-rel-links li:hover {
    text-decoration: underline;
}

.company-rel-links {
    display: table;
    margin: 0 auto;
    padding-bottom: 30px;
    color: #fff;
    font-size: 14px;
    line-height: 30px;
}

.logo-and-lang {
    padding: 20px 0;
    width: 230px;
    margin: 0 auto;
    position: relative;
}

#logo {
    display: inline-block;
    width: 100px;
    height: 30px;
}

.logo-and-lang a {
    background-image: url(../images/nav-icons/nav-sprite-global-1x-hm-dsk-reorg._CB405936311_.png);
    background-position: -1047px -987px;
    padding: 0 10px;
    HEIGHT: 100%;
    display: block;
}

#lang {
    display: inline-block;
    width: 90px;
    color: #CCC;
    font-size: 13px;
    border: 1px solid #DDD;
    padding: 5px;
    border-radius: 2px;
    margin-left: 40px;
    position: absolute;
}

#globe-icon {
    width: 15px;
    height: 20px;
    background-image: url(../images/nav-icons/flags.png);
    background-position: -1047px -934px;
    float: left;
}

#lang-name {
    float: left;
    margin-left: 10px;
}

.countries {
    text-align: center;
    color: #DDD;
    font-size: 12px;
    padding: 0 0 20px 0;
}

.countries ul {
    list-style: none;
    padding: 0;
    max-width: 845px;
    margin: 0 auto;
    line-height: 20px;
}

.countries li,
.copyright li {
    display: inline;
    margin-right: 10px;
}

.services {
    background-color: #131921;
    padding: 20px 40px 0;
    color: #DDD;
    font-size: 12px;
    text-align: center;
}

.services table {
    width: 80%;
    margin: 0 auto;
}

.services td {
    padding: 0 0.75em;
    line-height: 115%;
    vertical-align: top;
    text-align: left;
}

.copyright {
    background-color: #131921;
    font-size: 13px;
    color: #DDD;
    text-align: center;
    line-height: 20px;
    padding: 40px 0;
}

.copyright ul {
    list-style: none;
    margin: 0;
    padding: 0;
}